#timer {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 8rem;
}

span {
  padding: 0.5rem;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  font-size: 1.5rem;
}

label {
  margin-bottom: 1rem;
}

input[type=datetime-local] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 25rem;
}

button[type=submit] {
  background-color: #767676;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 25rem;
}

button[type=submit]:hover {
  background-color: #151515;
}
.title{
  margin-top: 10rem;
  text-align: center;
}
.bgCircle{
  background-color: #a3a3a3;
  height: 32%;
  width: 32%;
  border-radius: 100%;
  padding-top: 7%;
  padding-bottom: 13%;
  text-align: center;
  align-items: center;
  margin-left: 36%;
  margin-top: 8%;
}
